{% extends 'core/base.html' %}
{% block content %}

    <div class="row justify-content-center ">
        <div class="col-7  p-3  ">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{msg.tag}}">
                        {{msg}}
                    </div>
                {% endfor %}
            {% endif %}
            <h2 class="d-flex justify-content-center mb-2">Discussion Rooms</h2>
            <a href="{% url 'create_dis_room' %}" ><button class="btn btn-outline-secondary py-2 btn-lg col-12 mb-3 mt-1">Create Room</button></a>
            {% for room in rooms %}
                <div class="bg-light">{{room.name}}
                    <a href="{% url 'dis_room' room.id user.username%}"><button class="btn btn-success">View</button></a>
                </div> <br>
            {% endfor %}
        </div> 
    </div>


{% endblock content %}