{% extends "core/base.html" %}
{% block content %}

<main class="content">
    <div class="container pt-4">
        <div class="col-auto">
            <div class="row gap-3 d-flex justify-content-center">
                <div class="col-12 col-lg-4 col-xl-3  shadow   pt-3" style="border-radius: 25px;background-color: #D3E0EA;">
                    <div class="px-4  d-md-block">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 border-bottom border-2 border-primary pb-2 mb-3">
                                <h3>Chats</h3>
                            </div>
                        </div>
                    </div>   
                    <ul class="list-group">                 
                    {% for i,u in chats %}
                        <a href="{% url 'chat' i.username %}" class="list-group-item list-group-item-action mb-2"  style="border-radius: 10px;">
                            <!-- <div class="badge bg-success float-right">5</div> -->
                            <div class="d-flex align-items-start">
                                <img src="{{ u.Profile_pic.url }}" class="rounded-circle mr-1" alt="Image not found" width="40" height="40">
                                <div class="flex-grow-1 ml-3">                                 
                                    {{i.first_name}}&nbsp{{i.last_name}}                                 
                                </div>
                            </div>
                        </a>
                    {% endfor %}   
                    </ul> 
                </div>
                <div class="col-12 col-lg-6  col-xl-8 chatpart  shadow " style="border-radius: 25px;background-color: #D3E0EA;">
                    <div class="py-2 px-4 border-bottom  d-lg-block ">
                        <div class="d-flex align-items-center border-bottom border-2 border-primary pb-2">
                            <div class="position-relative ">
                                <img src="{{ other_user_prof.Profile_pic.url }}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                            </div>
                            <div class="flex-grow-1 pl-3">
                                <strong>{{other_user.first_name}}&nbsp{{other_user.last_name}}</strong>
                                
                            </div>
                            <div>
                            <div class="dropdown">
                                <button class="btn btn-lg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                    
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="{% url 'userprofile' other_user.username %}">View Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'clearchat' other_user.username %}">Clear Chat</a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative ">
                        <div id="msgList" class="chat-messages p-2">
                            {% for msg in messages %}
                            {% if msg.sender == user %}                                               
                            <div  class="chat-message-right pb-2">                                   
                                <div class="flex-shrink-1 text-dark  msg-side-right rounded py-1 shadow-sm px-2 " >
                                    {{msg.body}}
                                    <!-- <div class="text-muted small text-nowrap mt-2 chat-message-right">{{msg.created | date:'g:i '}}</div> -->
                                </div>   
                            </div>
                            {% else %} 
                            <div class="chat-message-left pb-2">
                                <div class="flex-shrink-1 msg-side-left shadow-sm rounded py-1 px-2 " >
                                    {{msg.body}}
                                    <!-- <div class="text-muted small text-nowrap mt-1 chat-message-right">{{msg.created | date:'g:i '}}</div> -->
                                </div>                              
                            </div>
                            {% endif %}
                            {% endfor %}    
                        </div>
                    </div>
                    <form id="sendform">
                        {% csrf_token%}
                    <div class="flex-grow-0 py-3 px-4 border-top">
                        <div class="input-group">
                            <input id="testMsg" type="text" class="form-control" placeholder="Type your message">
                            <button id="sendButton" type="submit" class="btn btn-success ml-3" >Send&nbsp;&nbsp;<i class="bi bi-send" ></i></button>                       
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    var objDiv = document.getElementById("msgList");
    objDiv.scrollTop = objDiv.scrollHeight;
    // document.getElementById('msgList').scrollIntoView({ behavior: 'smooth'});
    let url = 'ws://localhost:8000/ws' + window.location.pathname;
    // Making a websocket connection
    let ws = new WebSocket(url);
    let logged_username = '{{ user.username }}'  
    // Display new received or send message in the message box

    function displayMessage(side, msg, time) {   
        listInsidediv1 = document.createElement('div');
        listInsidediv2 = document.createElement('div');
        msgElement = document.createElement('div');
        timediv = document.createElement('div');
        var themsg = document.createTextNode(msg);
        var time = document.createTextNode('');
        listInsidediv1.className = 'chat-message-'+ side +' pb-2';
        listInsidediv2.className = 'flex-shrink-1 msg-side-'+side+' shadow-sm rounded py-1 px-2 ';
        timediv.className = 'text-muted small  text-nowrap mt-1 chat-message' + side;
        listdiv = document.getElementById('msgList');
        listdiv.appendChild(listInsidediv1);
        listInsidediv1.appendChild(listInsidediv2);
        listInsidediv2.appendChild(msgElement);
        msgElement.appendChild(themsg);
        //listInsidediv2.appendChild(timediv);  
        //timediv.appendChild(time);
        var objDiv = document.getElementById("msgList");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    ws.onopen = function() {
        console.log("Chat Connected....");      
    }

    ws.onmessage = function(event) {

        let data = JSON.parse(event['data']);
        console.log(data.text);
        if(logged_username == data.username){
            
            displayMessage('right', data.text, data.time);
        }
        else {
            displayMessage('left', data.text, data.time);
        }
    }
    ws.onclose = function() {
        console.log("Chat closed!");
    }
    ws.onerror = function() {
        console.error("An Error happened!!!!!!!");
    }   
    const mForm = document.getElementById('sendform');    
    mForm.addEventListener('submit',sendMsg);
    function sendMsg(e) {
        if(e.preventDefault) {
            e.preventDefault();
        }
        let msg = document.getElementById("testMsg").value;
        if(msg.length > 0){
            ws.send(msg);}
        mForm.reset();
        return false;
    }
  
</script>
{% endblock content %}