#msgList {
    min-height: 420px;
    max-height: 420px;
}

.free-area {
    min-height: 550px;
}
.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
    
}

.msg-side-left {
    background-color: #3c444c;
    color: white;
    padding-left: 10px;
}
.msg-side-right {
    background-color: #ecf0f1;
    padding-right: 10px;
}
.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0;
    max-width: 650px;
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

/* ------------------------------------------------------------------------------------------------ */
/* createdis_room  */

.room_member_scroll {
    background-color:#ecf0f1;
    height: 200px;
    width: auto;
    overflow-y: scroll;
}

/* ------------------------------------------------------------------------------------------------ */
/* Dis_room */

.room_member {
    text-decoration: none;
}

.room_member:hover {
    color: #ffffff;
}
/* ------------------------------------------------------------------------------------------------ */
/* Dis_room edit */

.input-container{
	position:relative;
	margin-bottom:25px;
    
}

.input-container input{ 
  border:0;
  border-bottom:2px solid rgb(243, 237, 237);  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:2px solid #545151;	
}

