{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/profileedit.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/common.css' %}">
        <link href="{% static 'Admin_area/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'Admin_area/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
        <link href="{% static 'Admin_area/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
        <link href="{% static 'Admin_area/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'chat/css/personalchat.css' %}">
        
    </head>
    <body> 
        <section class="container-xxl">
            <nav class="navbar navbar-expand-lg  fixed-top  shadow-lg pt-1 t pb-1">
                <div class="container-lg">
                    <a href="{% url 'userhome' %}" class="navbar-brand">
                        <span class="text-light font-weight-bolder"> 
                            
                            <h2><i class="bi bi-book ">&nbsp&nbsp</i>CSN</h2></span>
                    </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon text-light"><i class="bi bi-arrow-down-square-fill"></i></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end align-items-center" id="main-nav">
                            <ul class="navbar-nav text-success">
                                <li class="nav-item">
                                    <a href="{% url 'noticeboard' %}" class="nav-link px-3 text-light fw-normal">Notice Board</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'placementcell' %}" class="nav-link px-3 text-light fw-normal">Placement Cell</a>
                                </li>
                                {% if user.is_student %}
                                    <li class="nav-item">
                                        <a href="{% url 'teacherslist' %}" class="nav-link px-3 text-light fw-normal">Teachers</a>
                                    </li> 
                                {% elif user.is_teacher %}
                                    <li class="nav-item">
                                        <a href="{% url 'studentslist' %}" class="nav-link px-3 text-light fw-normal">Students</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a href="{% url 'chatlist' %}" class="nav-link px-3 text-light fw-normal">Personal</a>
                                </li>
                                
                                <li class="nav-item">
                                    
                                    <div class="dropdown">
                                        <button class="nav-link px-3  text-light  btn " id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"></i>Notifications <i class="bi bi-app-indicator text-danger"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="#">Messages</a></li>
                                        <li><a class="dropdown-item" href="{% url 'dis_rooms' %}">Discussion Rooms</a></li>
                                        <li><a class="dropdown-item" href="{% url 'requestlist' %}">Friend Request</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button href="" class="nav-link px-3 fw-normal text-light  btn dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <!-- <img src="" alt="" class="img-thumbnail rounded-circle"> -->
                                                <i class="bi bi-person-circle fa-5x "></i>&nbsp&nbsp{{ user.username }}
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item " href="{% url 'userprofile' user.username %}">Profile</a></li>
                                            <li><a class="dropdown-item " href="{% url 'logout' %}">logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                </div>
            
            </nav>
        </section>
        <div class="my-3">d</div>

        {% block content %} {% endblock %}
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'Admin_area/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
        <script src="{% static 'Admin_area/assets/vendor/tinymce/tinymce.min.js' %}"></script>
    </body>
</html>