{% extends "core/base.html" %}
{% block content %}
<section class="mainitems " >
    <div class="container-xxl  px-5 my-4">
        <div class="row justify-content-sm-around ">
            <div class="col-md-7">
                {% for post in posts %}
                <div class="post border border-5 p-3 my-3">
                    <img class=" rounded-circle mr-2 mb-2" src="{{p_data.Profile_pic.url}}" alt="img not found" width="40"><span >{{ post.Author.username }}</span>
                    <span><h2>{{post.Title}}</h2></span>
                    <img class="img-thumbnail" src="{{ posts.Picture.url }}" alt="img not found">
                    <span>{{ post.Content }}</span> <br>
                    created: {{post.created}} <br>
                    edited: {{post.edited}}
                     
                </div>
                {% endfor %} 
            </div>
            <div class="col-md-4 bg-warning">
                <div>
                    df
                </div>

            </div>
        </div>
    </div>
</section>



{% endblock content %}        
  