{% extends 'core/base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-7  p-3  ">
        <h2 class="d-flex justify-content-center mb-2">Placement Cell</h2>
        {% if user.is_teacher %}
        
        <a href="{% url 'placementcreate' %}" ><button class="btn btn-outline-primary btn-lg col-12 mb-3 mt-1">Create Post</button></a>
        {% endif %}
        {% for post in placement %}
        <div class=" p-2  rounded mb-2 " style="background-color: #CCD1E4;">
            <div class="d-flex justify-content-between mb-2">
                <h4 class="card-title">{{post.Title}}</h4>
                <a href="{% url 'postdetail' post.slug %}" class="btn btn-primary ">View</a>
            </div>
            <span class="d-flex justify-content-end pr-2">{{ post.created | date:"D d-F" }}</span> 
        </div>
        {% endfor %}
    
    </div>
</div>
{% endblock content %}