{% extends 'core/base.html' %}
{% block content %}

<br>



<div class="row m-4 d-flex justify-content-center">
    <div class="col-9 bg-light rounded shadow ">
        <article class="p-4">
            <ul class="post-meta list-inline  d-flex justify-content-between">
                {% if post.Author.is_superuser %}
                <li class="list-inline-item">
                    <i class="fa fa-user-circle-o"></i>
                    Admin
                </li>
                {% else %}
                <li class="list-inline-item">
                    <i class="fa fa-user-circle-o"></i> <a href="{% url 'userprofile' post.Author.username %}">{{ post.Author.username }}</a>
                </li>
                {% endif %}
                
                <li class="list-inline-item">
                    <i class="fa fa-calendar-o"></i> {{post.edited | date:" d F Y"}}
                </li>
            </ul>
            <h3 class="mb-3">{{post.Title}}</h3>
            {% if post.Picture %}
            <img src="{{ post.Picture.url }}" alt="" class="img-fluid mb-3 mb30">
            {% endif %}
            <div class="post-content">
                <p>{{post.Content}}</p>
                <form action="{% url 'postdelete' post.slug %}" method = 'post'>
                    {% csrf_token %}
                {%if edit %}    
                
                <div>         
                    <a href="{% url 'postedit' post.slug %}" class="btn btn-secondary">Edit</a>
                    {% endif %}
                    {% if delete %}
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">                    
                    {% endif %}
                </div>
                </form>
            </div>
        </article>
    </div>
</div>
{% endblock content %}