{% extends 'core/base.html' %}
{% block content %}
{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">
            {{msg}}
        </div>
    {% endfor %}
{% endif %}

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-lg-4">
            {%for r in reqs%}
            <div class="card py-2  px-2 mb-2">
                <div class="d-flex justify-content-between ">
                <h4 class="card-heading "> {{r.reqsender.first_name | capfirst }}&nbsp{{r.reqsender.last_name | capfirst }}</h4>
                <div class="dropdown fs-4">
                    <i class="bi bi-three-dots-vertical " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" href="{% url 'userprofile' r.reqsender.username %}">
                            View Profile
                            </a>
                        </li>
                    </ul>
                </div>
                </div>
                <h6 class="card-subtitle  pl-3 mt-1">
                    {% if r.reqsender.is_student %}
                    Student
                    {% else %}
                    Teacher
                    {% endif %}
                </h6>
                <p class="card-subtitle  pl-3 mt-1">{{r.reqsender.email}}</p>
                <div class="d-flex justify-content-end gap-2">
                    <a href="{% url 'rejectrequest' r.id %}"><button class="btn btn-outline-danger">Decline</button></a>
                    <a href="{% url 'acceptrequest' r.id %}"><button class="btn btn-success">Accept</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        
        
        
        
        
    </div>


        
            
        

{% endblock %}