{% extends "core/indexbase.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<div class = 'container-sm'>
    <form action="" class="form-group" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend> 
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" class="pt-5" type="submit">Request Password Reset</button>
        </div>
    </form>
{% endblock content %}