{% extends 'Admin_area/base.html' %}
{% block Admincontent%}
<div class="pagetitle">
    <h1>{{page_heading}}</h1>
</div> 
<div class="row d-flex justify-content-center">
    {% if messages %}
    <ul class="d-flex justify-content-center">
        {% for message in messages %}
        <span{% if message.tags %} class="alert alert-{{ message.tags }} col-lg-12  "{% endif %}>{{ message }}</span>
        {% endfor %}
    </ul>
{% endif %}
    <div class="col-lg-6 p-3 tab-pane fade show active shadow profile-overview" id="profile-overview">
        <h5 class="card-title">Admin</h5>
        
        <div class="row  p-2">
          <div class="col-lg-3 col-md-4 label ">First Name</div>
          <div class="col-lg-4 col-md-8">{{user.first_name}} </div>
        </div>
        <div class="row p-2">
          <div class="col-lg-3 col-md-4 label">Last Name</div>
          <div class="col-lg-9 col-md-8">{{user.last_name}}</div>
        </div>
        <div class="row p-2">
            <div class="col-lg-3 col-md-4 label">Username</div>
            <div class="col-lg-9 col-md-8">{{user.username}}</div>
        </div>
        <a href="{% url 'adminprofileedit' user.id %}"><button class="btn btn-primary btn-small mt-3">Update</button></a>
      </div>
      
</div>

{% endblock Admincontent%}